doctype html
html(lang="es")
  head
    meta(charset="utf-8")
    title= titulo
    link(rel="stylesheet", href="/login.css")
  body
    nav.menu 
      ul 
        li 
        
    .login
      .login-contenedor
          .encabezado 
              h1 Bienvenido 
          form.formulario(action = "/login" methodo= "POST")
              .contForm   
                  label(for="user_text") Usuario 
                  input#user_text(type="text" name="nombreUsuario" placeholder="Ingrese su usuario") 
                  br
                  label(for="pass_text") Contrase침a
                  input#pass_text(type="password" name="usuarioContrase침a" placeholder="Ingrese su contrase침a") 
              button(type="submit") Iniciar sesi칩n 