doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title SocialArt | Red social para artesanos
    link(rel="stylesheet", href="/login.css") 

  body
    header
      nav
        ul
          li: a(href="/") Inicio
          li: a(href="/perfil") Mi perfil
          li: a(href="/albums") Mis álbumes
          li: a(href="/logout") Cerrar sesión

    main
      block content

    footer
      p © 2025 SocialArt. Todos los derechos reservados.