doctype html
html(lang="es")
    head
        meta(charset="utf-8")
        title= titulo
        link(rel="stylesheet", href="/login.css")
    body
        nav.menu 
            ul   

        .login
            .login-contenedor
                .encabezado 
                    h1 Crea una cuenta 
                form.formulario(action = "/registro" method="POST")
                    .contForm   
                        label(for="user_text") Nombre completo 
                        input#user_text(type="text" name="nombreUsuario" placeholder="Nombre completo" required) 
                        br
                        label(for="mail_text") Correo electronico
                        input#mail_text(type="text" name="usuarioMail" placeholder="E-mail" required) 
                        br
                        label(for="pass_text") Contraseña
                        input#pass_text(type="password" name="usuarioContraseña" placeholder= "Contraseña" required) 
                        label(for="vpass_text") Verificacion de Contraseña 
                        input#vpass_text(type="password" name="vUsuarioContraseña" placeholder="Verificacion de Contraseña" required)
                        button(type="submit") Registrarte
                